@media screen and (min-width: 768px) {
  .filters-group-container {
    width: 350px;
  }
}
.profile-background {
  width: 350px;
  max-width: 500px;
  background-image: url('https://assets.ccbp.in/frontend/react-js/profile-bg.png');
  background-size: cover;
  margin: 12px;
  border-radius: 14px;
  padding: 16px 12px;
}

@media screen and (min-width: 768px) {
  .profile-background {
    width: 320px;
  }
}

.profile-user-name {
  font-family: Roboto;
  font-size: 22px;
  color: #6366f1;
}

.profile-paragraph {
  font-family: Roboto;
  font-size: 12px;
  color: #000000;
}

.profile-logo {
  width: 60px;
}

.categories-list {
  list-style-type: none;
}

.salary-type-item {
  list-style-type: none;
  margin-bottom: 6px;
}

.employment-type-item {
  list-style-type: none;
  margin-bottom: 6px;
}

.employment-type-label {
  font-family: 'Roboto';
  font-size: 14px;
  color: #ffffff;
  margin-left: 4px;
}

.salary-data {
  font-family: 'Roboto';
  font-size: 14px;
  color: #ffffff;
  margin-left: 8px;
}

.category-heading {
  font-family: Roboto;
  font-weight: bold;
  font-size: 20px;
  margin-left: 14px;
  color: #ffffff;
}

@media screen and (min-width: 768px) {
  .category-heading {
    color: #ffffff;
  }
}

.rating-heading {
  font-family: Roboto;
  font-weight: bold;
  font-size: 20px;
  margin-left: 14px;
  color: #ffffff;
}

.the-line {
  width: 90%;
}
